<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SmartProcessing.TestTask.Sudnik</title>
    <link rel="stylesheet" href="~/Content/Normalize.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>
    <div class="page-wrapper">
        <header class="main-header">
            <a><img src="~/Content/logo.png" alt="Судник Дмитрий" width="100" height="100"></a>
            <h1>Судник Дмитрий</h1>
        </header>
        <main class="main-content">
            @RenderBody()
        </main>
        <footer class="main-footer">
            <a href="https://drive.google.com/file/d/1-pVhPu8qvOyMZHuGbZCH_W1XIoU34LxS/view?usp=sharing" target="_blank">Моё резюме</a>
            <a href="https://www.linkedin.com/in/sudnik" target="_blank">Мой LinkedIn</a>
            <a href="https://github.com/Sudnik/SmartProcessing.TestTask" target="_blank">GitHub - Исходный код задания</a>
        </footer>
    </div>
</body>
</html>
